.App {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: #c4d1d6;
  overflow: auto;
  height: 100%;
}
.menu{
  padding: 4px;
  background-color: ghostwhite;
  margin-right: 5px;
  margin-left: 5px;
  border: none;
  border-bottom: 2px solid rgba(0,0,0,0.45);
  border-radius: 20px;
  box-shadow: 0px 1px 4px 0px #434c4e;


}
.address{
  font-family: auto;
  text-decoration-line: underline;
  text-decoration-color: lightblue;
  font-style: italic;
}
.menu:hover{
  box-shadow: 1px 1px 5px 0px #5755b9;
}
.menu:focus{
  border: none;
  box-shadow: 1px 1px 5px 0px #5755b9;

}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media only screen and (max-width: 600px) {
  .loginCard {
    width: 20px;
  }
}
.App-header {
  background-color: #282c34;
  width:100%;
  font-size: calc(10px + 2vmin);
  color: white;
  min-height: 132px;
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.certificate{
  box-shadow: 0px 1px 4px 0px #434c4e;
  border-radius: 20px;
  padding: 20px;
  margin-top: 108px;
  background: white;
  width: 30%;
  height: 30%;
  
}
#root{
  position: relative;
  height: 100%;
}
body{
  height: 100%;
}
html{
  height: 100%;
}
.certificate div {
  font-family: cursive;
  padding-bottom : 10px;
}
.certificate div{
  font-family: cursive;
  padding : 10px;
}
@media only screen and (max-width: 600px) {
.certificate{
  box-shadow: 0px 1px 4px 0px #434c4e;
  border-radius: 20px;
  padding: 20px;
  margin-top: 108px;
  background: white;
  width: 250px;
  height: 200px;
}
}
.certificate  input {
  width: 95%;
  border: none;
  border-bottom: 1px solid #c4d1d6;
  padding: 10px;
  margin-bottom: 7px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  
}
.loading{
  border: 3px solid #ffffff; /* Light grey */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
  border-top: 3px solid #000000; /* Blue */
  padding: 10px;
  margin-top: 20px;
}
.pinInput{
  border: none;
  box-shadow: 1px 1px 5px 0px black;
  border-radius: 20px;
  padding: 6px;
  margin-bottom: 20px;
  width: 190px;
}
.loginButton{
  width: 20%;
  margin-left: 80%;
  margin-bottom: 1px;
  max-height: 18%;
  overflow: hidden;
  background: #ffc002;
  color: black;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  padding: 6px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.loginCard{
  width: 350px;
  height: 250px;
  background: white;
  margin-top: 76px;
  box-shadow: 0px 1px 5px;
}
.LoginInput{
  width: 85%;
  padding: 7px;
  border: none;
  border-bottom: 1px solid black;
}
.getOtp{
  padding: 6px;
  width: 89%;
  margin-top: 20px;
  border: none;
  background: #282c34;
  color: white;
}

.getOtp:hover{
  background: #353d4e;
  
}
.bigCircle{
  position: absolute;
  background: white;
  width: 100px;
  height: 100px;
  top: 160px;
  border-radius: 50%;
  box-shadow: 0px 1px 4px;
  display: flex;
  justify-content: center;
}
.downloadButton{
      background: #282c34;
      color: white;
      border: none;
      padding: 7px;
      width: 90%;
      border-radius: 8px;
}
.downloadButton:hover{
  background: #353d4e
}
.smallCircle{
  width: 75px;
  height: 75px;
  background: #c4d1d6;
  border-radius: 50%;
  margin-top: 13%;
}
.loginContain{
  display:flex;
  justify-content:center;
}